<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	android:installLocation="preferExternal" package="com.drodin.stratagus"
	android:versionCode="9" android:versionName="0.9 beta">
	<supports-screens android:anyDensity="true"
		android:smallScreens="true" android:normalScreens="true"
		android:largeScreens="true" />
	<application android:label="Stratagus" android:icon="@drawable/icon"
		android:debuggable="false" android:theme="@style/Theme">
		<activity android:name=".MainActivity" android:label="Stratagus"
			android:screenOrientation="landscape" android:configChanges="orientation"
			android:multiprocess="false" android:launchMode="singleTask">
		</activity>
		<activity android:name=".menu.DefineKeys"
			android:screenOrientation="landscape" android:configChanges="orientation" />
		<activity android:name=".menu.KeySelect" android:theme="@android:style/Theme.Dialog" />
		<activity android:name=".menu.Sure" android:theme="@android:style/Theme.Dialog" />
		<activity android:name=".menu.StartMenu"
			android:screenOrientation="landscape" android:configChanges="orientation">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".menu.ChooseFolder"
			android:screenOrientation="landscape" android:configChanges="orientation" />
	</application>
	<uses-sdk android:minSdkVersion="5" android:targetSdkVersion="8" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest>
